PORT=4000
WEB_ORIGIN=http://localhost:3000
ADMIN_ORIGIN=http://localhost:3001
DATABASE_URL="postgresql://user:password@ep-xxxx-pooler.region.aws.neon.tech/dbname?sslmode=require"
DIRECT_URL="postgresql://user:password@ep-xxxx.region.aws.neon.tech/dbname?sslmode=require"
